.intro-wrapper {
  width: 100vw;
  height: 85vh;
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
  scroll-snap-align: start;
}

.intro-headline {
  font-size: 3rem;
}

.char {
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}
